<!doctype html>
<html lang="en" ng-app="tsdc">

<head>
    <meta charset="utf-8">
    <title>Triad Software Developer's Conference - AngularJS</title>

    <style type="text/css">
.todo-active {
    font-weight: bold;
}
.todo-done {
    text-decoration: line-through;
}
    </style>
</head>

<body>
    <p>Welcome to Triad Dev Conf - AngularJS!</p>

    <div ng-controller="AppCtrl">
        <div>
            <input type="text" ng-model="newTodo"/>
            <button ng-click="addTodo(newTodo)">Add Todo</button>
        </div>

        <br/>

        <div>
            <ul>
                <li ng-repeat="t in todos">
                    <todo-item data="t"></todo-item>
                </li>
            </ul>
        </div>
    </div>

    <script src="js/vendor/angularjs/angular.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
